<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="../css/app2.css" type="text/css">
<!--<link rel="stylesheet" href="styles.css" type="text/css">-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Document</title>
</head>
<body>
        <nav role="navigation" class="navbar navbar-inverse navbar-fixed-top">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                    <a class="navbar-brand active disabled" href="">Gastroenterologists Ltd.</a> 
                  </div>
                  <div id="navbarCollapse" class="collapse navbar-collapse">
                    <ul id="fresponsive" class="nav navbar-nav dropdown">
                      <li> <a href="#myscroll" >FAQs</a></li>                        
                      <li>
                        <a href="#collapseExample" role="button">Appointment requestion<span class="caret"></span></a>
                        
                      </li>
                    </ul>
                      <ul class="nav navbar-nav navbar-right">
                          <li class="closeonclick"><a href="">Logged in as Administrator</a></li>
                       </ul>
                      </div>

</nav>
    <div id="jumbotron">
			
        <p style="margin: 2rem">
            <br><br>
            
        <% var keys= Object.keys(datas) %>
        <% keys.forEach(function(key){ %>

          <!-- <td><%= key %></td> -->
          <b>Question:- </b> <%= datas[key].message %><br>
          <b>Asked by:- </b> <%= datas[key].name %>    <%= datas[key].phone %> <br> 
          <b>Email Id:- </b>  <%= datas[key].email %><br>
          <br> 
          <textarea style="width: 34.4rem; height: 6.25rem"> </textarea>
    <input type="submit" value="Answer"  >

        <br><br>
        <% }) %>
        
    </p>
     
</div>

    <footer class="container">
        <div class="container clearfix">
            <p><span class="alignleft small">© 2020, Nouveau Solutions | MB - Designs . All Rights Reserved.</span>
                <span class="alignright small">Connect with us&nbsp;&nbsp;&nbsp;
                    <a href="https://www.nouveau-solutions.com" class="fa fa-instagram"></a>
                    <a href="#" class="fa fa-twitter"></a>
                    <a href="#" class="fa fa-facebook"></a>
                </span>
            </p>
        </div>
    </footer>
</body>

</html>